.editor {
    height: 100%;
    flex: 1;
    overflow-y: hidden;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    justify-content: stretch;
}

.editor__layout {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    justify-content: center;
}

.editor h1 {
    display: flex;
    flex-direction: row;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.editor h1 > span {
    display: inline-block;
    flex: 1;
    font-size: 1.5rem;
}

.editor h1 button {
    display: inline-block;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #daf39a;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.stories {
    overflow-y: scroll;
    flex: 1;
}

.stories h2 {
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem 3rem;
    margin: 0;
    align-items: baseline;
}

.editor h2 > span {
    display: inline-block;
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

.stories h2 button {
    display: inline-block;
    border: none;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    text-decoration: none;
    background: #daf39a;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.stories h2 button.save-extra {
    background-color: darkcyan;
    color: lightgreen
}

.stories h2 button.danger {
    background-color: pink;
}

.stories h2 button.danger-extra {
    background-color: red;
    color: lightPink;
}

.editor__formRow {
    padding: 0;
    margin: 1rem;
    font-size: 1.5rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Droid Sans Mono", monospace;
    align-items: baseline;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
}

.editor__formRow > * {
    margin: 0.5rem 1.5rem;
}

.editor__formRow label {
    min-width: 12rem;
}

.editor__formRow input,
.editor__formRow textarea {
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-family: "Droid Sans Mono", monospace;
    padding: 0.5rem;
    flex: 1;
    margin-right: 5rem !important;
}

.editor__formRow input[type="number"] {
    mex-width: 4rem;
    flex: 0;
}

.editor__formRowDel {
    position: absolute;
    right: 0;
}

.stories article {
    margin: 2rem;
    margin-bottom: 4rem;
    padding: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

