html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  background-image: url('/back.png');
  background-size: cover;
}

.fader {
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.fader.fadedOut {
  opacity: 0;
}
