html,
body,
.flood,
#__next{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #222222;
}

.fader {
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.fader.fadedOut {
  opacity: 0;
}
.addRow {
  margin: 0rem 0.5rem;
  width: 3rem;
  position: relative;
}
.addRow svg {
  position: absolute;
  top: 0.5rem;
}

.message {
  z-index: 10000;
}

.invisible {
  visibility: hidden;
}

h1, h2, h3 {
  letter-spacing: -1px;
  word-spacing: 2px;
}
